<div fxLayout="row" fxLayoutAlign="center center" >
<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <!-- incoorect login -->
      <mat-error *ngIf="!loginValid">
        The username and password were not recognized<br><br>
      </mat-error>
      <!-- USERNAME/MAIL INPUT -->
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="user!.username" name="username" required>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <!-- PASSWORD INPUT -->
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="user!.password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field><br>
      <button mat-raised-button color="primary">Login</button> <br><br>
      <a class="link" (click)="toRegister()">
        Don't have an account? Register
      </a>
    </form>
  </mat-card-content>
</mat-card>
</div>
