<div style="direction: rtl;">
    <h2 mat-dialog-title>הוסף קורס</h2>
    <hr> <br>
    <mat-dialog-content class="mat-typography" [formGroup]="form">
      <mat-form-field>
        <mat-label>שם קורס:</mat-label>
        <input matInput formControlName="courseName">
      </mat-form-field> <br>
      <mat-form-field>
        <mat-label>מספר קורס:</mat-label>
        <input matInput formControlName="courseNumber">
      </mat-form-field> <br>
      <mat-form-field>
        <mat-label>סוג:</mat-label>
        <input matInput formControlName="courseType">
      </mat-form-field> <br>
      <mat-form-field>
        <mat-label>נק"ז:</mat-label>
        <input matInput formControlName="coursePoints">
      </mat-form-field> <br>
      <mat-form-field>
        <mat-label>רמה:</mat-label>
        <input matInput formControlName="courseLevel">
      </mat-form-field> <br>
      <mat-form-field>
        <mat-label>דרישות:</mat-label>
        <input matInput formControlName="courseRequirements">
      </mat-form-field> <br>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close class="modalBtn">סגור</button> &nbsp;
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addCourse()" class="modalBtn">שמור</button>
    </mat-dialog-actions>
  </div>