.mat-toolbar{
  background-color: rgb(58, 146, 175);
  color: white;
}
.mat-button{
   color: white;
}
.spacer{
  flex: 1 1 auto;
}

.text{
  color: white;
  font-size: 18px;
  text-shadow: rgb(79, 78, 82) 10px 10px 10px;
}

.logo{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}