<ng-container *ngIf="this.curriculumDetails">
    <th>
        <input matInput placeholder="סמסטר" type="number" ng-pattern="/^[0-9]+$/"
            [(ngModel)]='this.curriculumDetails.Semester'>
    </th>
    <th>
        <input matInput placeholder="שנה" type="number" ng-pattern="/^[0-9]+$/"
            [(ngModel)]='this.curriculumDetails.Year'>
    </th>
    <th>
        <input matInput placeholder="מספר קורס" type="number" ng-pattern="/^[0-9]+$/"
            min="1000" max="9999"[(ngModel)]='this.curriculumDetails.Course_number'>
    </th>
    <th>
        <div>
            <input type="text" matInput value='this.curriculumDetails.Name' [formControl]="coursesControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="choosedCourse(option)"
                    [value]="option">
                    {{option.Name}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </th>
    <th>
        <input matInput placeholder="נקז" type="number" ng-pattern="/^[0-9]+$/"
            min="0" max="20" [(ngModel)]='this.curriculumDetails.Points'>
    </th>
    <th>
        <input matInput placeholder="רמה" type="number" ng-pattern="/^[0-9]+$/"
            [(ngModel)]='this.curriculumDetails.Level'>
    </th>
    <th>
        <input matInput placeholder="ציון" type="number" ng-pattern="/^[0-9]+$/"
            min="0" max="100" (change)="gradeChanged()" [(ngModel)]='this.curriculumDetails.Grade' >
    </th>
    <th>
        <input matInput placeholder="סטטוס" [(ngModel)]='this.curriculumDetails.Status' readonly>
    </th>
    <th>
        <input matInput placeholder="סוג" [(ngModel)]='this.curriculumDetails.Type'>
    </th>
</ng-container>
